<h2>Hello, Instructor!</h2>
<div class="hl"></div>
<div class="body">
  <div class="container">
    <p>For Existing Classes</p>
    <label  for="existingClass">Please Input An Existing Class Code Here</label>
    <br>
    <input type="number" id="existingClass" [(ngModel)] = "class.code">
    <br>
    <button id="submit">Submit</button> <!--(click) = "displayResponses()"-->

    <div *ngIf ="submitted">
      <p>{{ class.responses }}</p>
    </div>
  </div>

  <div id="vl"></div>

  <div class="container">
    <p>For New Classes</p>
    <label for="generateCode">To Generate a New Class Code</label>
    <br>
    <button (click) = "generateCode()" id="generateCode">Generate Code</button>

    <div *ngIf="class.code !== 0">
      <p id="codeHolder">{{ class.code }}</p>
    </div>
  </div>
</div>

<div class="hl"></div>

<div class="body">
  <div class="container" id="aiLeft">
    <p>Suggestions</p>
    <label for="generateResponses">To Generate Suggestions</label>
    <br>
    <button (click) = "generateSuggestions()" id="generateResponses">Generate Suggestions</button>
  </div>

  <div class="container" id="aiRight" *ngIf="class.suggestions === ''">
    <p id="suggestionsHolder">Suggestions: {{class.suggestions}}</p>
  </div>
</div>



