<h2>About Us!</h2>
<div id="hl"></div>
<div id="body">
  <div class="container">
    <p class="headings">The Product</p>
    <p>The purpose of EDU Insights is to give instructors a chance to learn from their practices and improve. Students
    are given the chance to express their opinions on course matter such as the speed at which content is being covered
    or the difficulty of assignments. By the click of a button, an instructor is able to generate a class code which
    students can enter to submit their responses. Instructors can evaluate these responses themselves to develop the next
    best course of action or they can take advantage of our generated sugguestions for how they can improve. We can feed
    responses to AI to form their own tips to improve the class, helping both students and professors to make the most of
    their semester!
    </p>
  </div>

  <div id="vl"></div>

  <div class="container">
    <p class="headings">The Team:</p>
    <h4>Jevaria Bashir</h4>
    <h4>Ian Carrillo</h4>
    <h4>Mason Gobat</h4>
    <h4>Matthew Guiddy</h4>
  </div>
</div>




